API_ID=25805187
API_HASH=1012d8661f23cb0db2984eabce9848fe
BOT_TOKEN=8680893660:AAFT8IfpSBNVKGHP2370ugOhNC8oHixSgfs
STRING_SESSION=BQGJwYMArSL4rW8gnw3w33JQVlWeit-QKTEMSnGOu9wEhz38WK0o17fnIuQ0Sk3B9N06nMsbaXwebKpbM6_vZyhgyQFUOKjGVB3byyOlBLZEEp209Ccn5gqP4RhjvoCOJTBGlWGenZNciTWLODsD0oBJXtSHQzRxmZ2uiMEaSXMraERfUuEF4BZGkKbTKFbedAnlXtLKDBFsaT__t5vWFmMtVblkAQG-Aij_WZ8arG0Zx8nyZ9ylbCbZH1jkw6Rdt2l_xXyaCUGAUOUNUERJ9CucZol9WcpXCutYhRQXC7PTKU-z0xpCE9iyNbuGYwRrPKuaEwBmQBu5oSo0uG7nWwtstU-rIAAAAAIRE91mAA
LOG_GROUP_ID=-1004472816474
OWNER_ID=7874217585
MONGO_DB_URI=mongodb+srv://likeeadii80_db_user:BvxekuzSBMuULZmv@cluster0.08xzqdo.mongodb.net/?appName=Cluster0
API_KEY=ZEXXY1NEXOR
API_URL=https://a60176-682e.d.onjrnm.link
API_TYPE=audio
API_FORMAT=mp3
SUPPORT_URL=https://t.me/sigmaxmusicbott
CHANNEL_URL=https://t.me/heckwithme
OWNER_URL=https://t.me/Reallly_hecker
# Render deploy karte waqt yeh apne aap set ho jaata hai — manually chhod do khaali
RENDER_EXTERNAL_URL=
PING_INTERVAL=600
