API_ID=
API_HASH=
BOT_TOKEN=
STRING_SESSION=
LOG_GROUP_ID=
OWNER_ID=
MONGO_DB_URI=mongodb+srv://likeeadii80_db_user:BvxekuzSBMuULZmv@cluster0.08xzqdo.mongodb.net/?appName=Cluster0
API_KEY=ZEXXY1NEXOR
API_URL=https://a60176-682e.d.onjrnm.link
API_TYPE=audio
API_FORMAT=mp3
SUPPORT_URL=https://t.me/your_support_group
CHANNEL_URL=https://t.me/your_channel
OWNER_URL=https://t.me/NEXOR_BLAZE
# Render deploy karte waqt yeh apne aap set ho jaata hai — manually chhod do khaali
RENDER_EXTERNAL_URL=
PING_INTERVAL=600
